@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Kanit:wght@300;400&display=swap");
.logo img {
  width: 240px; }
  @media (min-width: 576px) and (max-width: 768px) {
    .logo img {
      width: 200px; } }
  @media (min-width: 280px) and (max-width: 575px) {
    .logo img {
      width: 150px; } }

* {
  padding: 0;
  margin: 0; }

body {
  background-image: url(../img/watercolor.jpg); }

h1,
h2,
h3 {
  font-family: "Cookie", cursive;
  color: #534541; }

p {
  font-family: "Kanit", sans-serif;
  color: #534541; }

.bg-purple {
  background-color: rgba(144, 120, 113, 0.7); }

.redondo, .redondo-frame {
  padding: 5%;
  border-radius: 40%; }

.redondo-frame {
  border-color: #907871;
  border-style: dotted;
  margin-bottom: 5%; }

.cuadro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  margin: 5%;
  border-style: dotted;
  border-color: #907871; }

.bg-purple {
  background-color: rgba(144, 120, 113, 0.7); }

.lila {
  color: #534541; }
